.text-primary {
    color: #6c63ff;
}

.page-divider {
    width: 50vw;
    height: 93vh;
    position: absolute;
    background-color: rgba(108, 99, 255, 0.7);
    /* z-index: "-2"; */
}

.adminlogin_landing {
    height: 93vh;
    padding: 15px;
}

.adminlogin_landing_card {
    max-width: 1080px;
    min-height: 55vh;
    margin: auto;
    padding: 25px;
    position: relative;
}

.adminlogin_landing_card_main {
    min-height: 45vh;
}

.adminlogin_landing_card_main_input {
    border-radius: 50px;
}
